body{
    background-color: aqua;
    margin: 0;
}
.h1{
    margin-left: 10px;
}
.h2{
    margin-left: 10px;
}
.cre{
    margin: 10px;
}
.img{
    width: 500px;
    height: 500;
    margin: 10px;
}